{% if site.url contains "http://localhost" or site.url contains "http://127.0.0.1" %}
<video width="100%" src="/usecase-videos/{{ include.id }}.mp4{% if include.start %}#t={{ include.start }}{% endif %}" {% if include.noautoplay %}preload="auto"{% else %}autoplay{% endif %} controls id="{{ include.id }}"></video>
{% else %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.id }}?{% unless include.noautoplay %}autoplay=1&{% endunless %}rel=0{% if include.start %}&start={{ include.start }}{% endif %}" frameborder="0" allowfullscreen></iframe>
{% endif %}
